{% if messages %}
{% for message in messages%}
<div class="container" id="message">
  {% comment %} <div class="alert alert-dismissible text-center alert-{{message.tags}}" role="alert"> {% endcomment %}
  <div class="alert alert-dismissible text-center alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
    <button class ="close" type="button" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
    {{message}}
    <strong><!-- expression-->
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error:{% else %} {{message.tags| title }}{% endif%}
    </strong>
  </div>
</div>
{% endfor %}
{% endif %}